{{ define "content" }}

<hr>
<br>
<h2>Ethereum Mainnet</h2>
<ul class="root-months">
    {{ range .EthMainnetMonths }}
    <li><a href="/ethereum/mainnet/{{ . }}/index.html">{{ . }}</a></li>
    {{ end }}
</ul>


<br>
<br>
<hr>
<p>
<p><small>The data is dedicated to the public domain under the <a href="https://creativecommons.org/publicdomain/zero/1.0">CC-0 license</a></small></p>
<p><small>Brought to you by <a href="https://flashbots.net">Flashbots</a> in collaboration with <a href="https://bloxroute.com/">bloXroute</a>, <a href="https://www.chainbound.io/">Chainbound</a>, <a href="https://www.edennetwork.io/">Eden</a>, <a href="https://www.infura.io/">Infura</a>, <a href="https://mempool.guru">Mempool Guru</a></p>
</p>
{{ end }}