{{ define "content" }}
{{ $day:="" }}
{{ $class:="even" }}

<hr>
<br>
<a href=/index.html>{{ .CurrentNetwork }}</a>
<h2>{{ .CurrentMonth }}</h2>

<table class="pure-table pure-table-horizontal">
    <tbody>
        <tr>
            <td class=fn><a href=/index.html>../</a></td>
            <td></td>
        </tr>

        {{ range .Files }}
        {{ $dayTmp:=.Filename|substr10}}
        {{ if ne $day $dayTmp}}
        {{ $day = $dayTmp }}
        {{ if ne $class "even" }}
        {{ $class = "even" }}
        {{ else }}
        {{ $class = "odd" }}
        {{ end }}
        {{ end }}
        <tr class="f-{{$class}}">
            <td class=fn><a href={{ .Filename }}>{{ .Filename }}</a></td>
            <td class=fs>{{ .Size | humanBytes }}</td>
        </tr>
        {{ end }}
    </tbody>
</table>

<!-- <script src="https://unpkg.com/@popperjs/core@2"></script> -->
<script>
</script>
{{ end }}